<div class="angularTitle">{{angularVersion}}</div>
<div class="otherPage" *ngIf="false">
  <a rel="nofollow noopener noreferrer" target="_blank" href="https://vue.ganhx.cn"></a>
  <a rel="nofollow noopener noreferrer" target="_blank" href="https://react.ganhx.cn"></a>
</div>
<div class="page">
  <ul class="jobIntention" data-words="求职意向">
    <li title="应聘职位">前端/后台/数据库</li>
    <li title="工作性质">全职</li>
    <li title="工作地点">南宁</li>
    <li title="目前状况">随时上岗</li>
    <li title="薪资">12K+</li>
  </ul>
  <div class="head">
    <a class="fork" rel="nofollow noopener noreferrer"
       href="https://github.com/LancelotSaki/angular-app"
       target="_blank"></a>
    <div class="headPhoto"></div>
    <div [class]="dialogState">{{dialog}}</div>
  </div>
  <ul class="info" data-words="个人信息">
    <li *ngFor="let i of info">
      {{i.value}}
    </li>
  </ul>
  <ul class="skill" data-words="个人技能">
    <ng-container *ngFor="let skill of skills">
      <li class="progress" [style.background]="'url('+skill.image+')'"
          [style.background-repeat]="'no-repeat'"
          [style.background-size]="'35px 35px'" title="{{skill.name}}!!!">
      <span [class]="skill.value >= 82 ? 'green' :
      skill.value <= 60 ? 'red' :
      skill.value < 82 &&
      skill.value > 76 ? 'orange' :
      skill.value <=76 &&
      skill.value > 68 ? 'blue' : 'red' "
            [style.width]="skill.value+'%'"></span>
      </li>
    </ng-container>
  </ul>
  <div class="detail">
    <div class="firm" data-words="工作经验">
      <ul class="firstFirm" data-words="深圳市云软信息技术有限公司">
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2018.05.08 - 2018.08.16</li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;个人使用angular框架对江苏中烟公众号原来的jQuery前端代码进行重构，后端使用springBoot框架对ssh框架代码进行重构。</li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017.04.14 - 2018.05.08</li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;微信小程序开发。</li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017.10.30 - 2018.04.14</li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;负责江苏中烟微信公众号的全栈式开发，另外负责真龙公众号部分功能模块的开发维护以及公司的客服平台系统上部分功能进行功能性完善。</li>
      </ul>
      <ul class="secondFirm" data-words="浙江网新恩普软件有限公司">
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2016.01.04 - 2017.09.27</li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;主要负责温州大型社保系统的五险人员参保、停保、缴费、险种转入转出的业务，并随后独立使用vue.js开发小型的网上申报系统。</li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2015.07.02 - 2015.12.31</li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;担任后台开发维护人员，初期主要参与金华社会管理系统、金华医保系统、兰溪城乡学生管理系统、兰溪城乡居民管理系统、东阳卡管系统等系统的运维工作。</li>
      </ul>
      <ul class="thirdFirm" data-words="浙江酷好软件科技有限公司">
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2014.03.04 - 2015.05.26</li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在该公司还未正式成立前以实习生的身份加入该工作室，并在正式注册为公司后主要负责慧尚商城系统的人员信息业务的模块开发以及部分报表的开发。</li>
      </ul>
    </div>

    <div class="view3d" data-words="实战经验">
      <div class="horn" [attr.data-words]="view3dPrint"></div>
      <div class="viewCube">
        <div class="cube">
          <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.baidu.com"></a>
          <a rel="nofollow noopener noreferrer" target="_blank" href="https://github.com/LancelotSaki/react-app"></a>
          <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.baidu.com"></a>
          <a rel="nofollow noopener noreferrer" target="_blank" href="https://github.com/LancelotSaki/vue"></a>
          <a rel="nofollow noopener noreferrer" target="_blank" href="https://github.com/LancelotSaki/angular-app"></a>
          <a rel="nofollow noopener noreferrer" target="_blank" href="https://gitee.com/LancelotSaki/ganhx"></a>
        </div>
      </div>
      <div class="viewTetra">
        <div class="tetra">
          <a rel="nofollow noopener noreferrer" target="_blank" href="https://angular.ganhx.cn"></a>
          <a rel="nofollow noopener noreferrer" target="_blank" href="https://react.ganhx.cn"></a>
          <a rel="nofollow noopener noreferrer" target="_blank" href="https://vue.ganhx.cn"></a>
          <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.ganhx.cn"></a>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
