.angularTitle {
  position: absolute;
  top: 5px;
  left: calc(50% + 200px);
  width: 200px;
  height: 30px;
}

.otherPage{
  position: absolute;
  width: 890px;
  left: calc(50% - 397px - 50px);
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.otherPage>a:first-child {
  width: 30px;
  height: 30px;
  background: url("../../assets/images/svg/last-page.svg") no-repeat;
  background-size: 30px 30px;
}

.otherPage>a:nth-child(2) {
  width: 30px;
  height: 30px;
  background: url("../../assets/images/svg/next-page.svg") no-repeat;
  background-size: 30px 30px;
}


.page {
  position: relative;
  width: 794px;
  height: 1090px;
  margin: 35px auto;
  border: 1px solid blanchedalmond;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #888888;
  background: #ebebeb;
}

.fork {
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
  height: 150px;
  clip-path: polygon(5% 0%, 45% 0%, 100% 55%, 100% 95%);
}
.fork::after {
  content: "";
  display: inline-block;
  background: url("../../assets/images/forkme.png") no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 150px;
}

.head {
  position: absolute;
  right: 5px;
  top: 5px;
  width: calc(100% - 10px - 310px);
  height: 200px;
  border-radius: 5px;
}


.headPhoto {
  position: absolute;
  top: 45px;
  right: 75px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: url("../../assets/images/cat.png") no-repeat;
  background-size: 107% 145%;
}

.dialogHide {
  position: absolute;
  right: 165px;
  top: 0;
  width: 200px;
  height: 70px;
  line-height: 55px;
  padding-left: 27px;
  opacity: 0;
  background: url("../../assets/images/svg/dialog.svg") no-repeat;
  background-size: 100% 100%;
  animation: fromOneToZero 1s linear forwards;
}

@keyframes fromOneToZero {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.dialogShow {
  position: absolute;
  right: 165px;
  top: 0;
  width: 200px;
  height: 70px;
  line-height: 55px;
  padding-left: 27px;
  opacity: 1;
  background: url("../../assets/images/svg/dialog.svg") no-repeat;
  background-size: 100% 100%;
  animation: fromZeroToOne 1s linear forwards;
}

@keyframes fromZeroToOne{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.skill::before,.jobIntention::before,.info::before  {
  content: attr(data-words);
  display: inline-block;
  position: absolute;
  width: 285px;
  height: 50px;
  top: -50px;
  line-height: 60px;
  font-size: 1.3rem;
  font-weight: 900;
  background: url("../../assets/images/svg/brokenLine.svg") no-repeat;
}

.jobIntention {
  position: relative;
  margin-top: 50px;
  margin-left: 10px;
  width: 300px;
  height: 250px;
}


.jobIntention>li {
  line-height: 45px;
  padding-left: 45px;
  height: 45px;
}

.jobIntention>li:first-child {
  background: url("../../assets/images/svg/job.svg") no-repeat 5px 10px;;
  background-size: 22px 22px;
}


.jobIntention>li:first-child::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 285px;
  height: 1px;
  border: 1px solid #888888;
  left: 0;
  top: 40px;
}


.jobIntention>li:nth-child(2) {
  background: url("../../assets/images/svg/all.svg") no-repeat 5px 10px;;
  background-size: 22px 22px;
}


.jobIntention>li:nth-child(2)::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 285px;
  height: 1px;
  border: 1px solid #888888;
  left: 0;
  top: 85px;
}


.jobIntention>li:nth-child(3) {
  background: url("../../assets/images/svg/person/address.svg") no-repeat 5px 10px;;
  background-size: 22px 22px;
}

.jobIntention>li:nth-child(3)::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 285px;
  height: 1px;
  border: 1px solid #888888;
  left: 0;
  top: 130px;
}

.jobIntention>li:nth-child(4) {
  background: url("../../assets/images/svg/time.svg") no-repeat 5px 10px;;
  background-size: 22px 22px;
}

.jobIntention>li:nth-child(4)::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 285px;
  height: 1px;
  border: 1px solid #888888;
  left: 0;
  top: 175px;
}

.jobIntention>li:nth-child(5) {
  background: url("../../assets/images/svg/salary.svg") no-repeat 5px 10px;;
  background-size: 22px 22px;
}

.jobIntention>li:nth-child(5)::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 285px;
  height: 1px;
  border: 1px solid #888888;
  left: 0;
  top: 220px;
}

.info {
  position: relative;
  margin-top: 60px;
  margin-left: 10px;
  width: 300px;
  height: 300px;
}

.info>li {
  padding-left: 45px;
  height: 45px;
  line-height: 45px;
}

.info>li:first-child {
  background: url("../../assets/images/svg/person/name.svg") no-repeat 5px 10px;;
  background-size: 22px 22px;
}


.info>li:first-child::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 285px;
  height: 1px;
  border: 1px solid #888888;
  left: 0;
  top: 40px;
}


.info>li:nth-child(2) {
  background: url("../../assets/images/svg/person/phone.svg") no-repeat 5px 10px;;
  background-size: 22px 22px;
}


.info>li:nth-child(2)::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 285px;
  height: 1px;
  border: 1px solid #888888;
  left: 0;
  top: 85px;
}

.info>li:nth-child(3) {
  background: url("../../assets/images/svg/person/email.svg") no-repeat 5px 10px;;
  background-size: 22px 22px;
}


.info>li:nth-child(3)::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 285px;
  height: 1px;
  border: 1px solid #888888;
  left: 0;
  top: 130px;
}

.info>li:nth-child(4) {
  background: url("../../assets/images/svg/person/profession.svg") no-repeat 5px 10px;;
  background-size: 22px 22px;
}


.info>li:nth-child(4)::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 285px;
  height: 1px;
  border: 1px solid #888888;
  left: 0;
  top: 175px;
}

.info>li:nth-child(5) {
  background: url("../../assets/images/svg/person/school.svg") no-repeat 5px 10px;;
  background-size: 22px 22px;
}


.info>li:nth-child(5)::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 285px;
  height: 1px;
  border: 1px solid #888888;
  left: 0;
  top: 220px;
}

.info>li:nth-child(6) {
  background: url("../../assets/images/svg/person/address.svg") no-repeat 5px 10px;;
  background-size: 22px 22px;
}


.info>li:nth-child(6)::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 285px;
  height: 1px;
  border: 1px solid #888888;
  left: 0;
  top: 265px;
}

.skill {
  position: relative;
  margin-top: 60px;
  margin-left: 10px;
  width: 300px;
  height: 300px;
}

.skill>li::before {
  content: '';
  display: inline-block;
  position: absolute;
  margin-top: 10px;
  margin-left: 45px;
  height: 20px;
  width: 245px;
  background: rgba(172,215,236,0.27);
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 10px;
  margin-bottom: 15px;
}

.skill>li {
  position: relative;
  margin-left: -5px;
  width: 245px;
  height: 35px;
}
.skill>li > span {
  position: relative;
  float: left;
  margin-top: 10px;
  margin-left: 45px;
  height: 18px;
  line-height: 35px;
  text-align: right;
  border: 1px solid;
  border-color: #bfbfbf #b3b3b3 #9e9e9e;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #f0f0f0 0%, #dbdbdb 70%, #cccccc 100%);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
}
/*.skill>li > span > span {
  padding: 0 8px;
  font-size: 11px;
  font-weight: bold;
  color: #404040;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}*/
.skill>li > span::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 18px;
  background: url("../../assets/images/progress.png") 0 0 repeat-x;
  border-radius: 10px;
}


.skill>li .green {
  border-color: #78b337 #6ba031 #568128;
  background-image: linear-gradient(to bottom, #b7dc8e 0%, #99ce5f 70%, #85c440 100%);
}
.skill>li .red {
  border-color: #c73321 #b12d1e #8e2418;
  background-image: linear-gradient(to bottom, #ea8a7e 0%, #e15a4a 70%, #db3a27 100%);
}
.skill>li .orange {
  border-color: #f0ad24 #eba310 #c5880d;
  background-image: linear-gradient(to bottom, #f8da9c 0%, #f5c462 70%, #f2b63c 100%);
}

.skill>li .blue {
  border-color: #459fd6 #3094d2 #277db2;
  background-image: linear-gradient(to bottom, #aed5ed 0%, #7bbbe2 70%, #5aaadb 100%);
}

.detail {
  position: absolute;
  width: 470px;
  height: 900px;
  right: 5px;
  top: 195px;
}

.view3d::before,.firm::before {
  content: attr(data-words);
  display: inline-block;
  position: absolute;
  width: 470px;
  height: 50px;
  top: -45px;
  line-height: 60px;
  font-size: 1.3rem;
  font-weight: 900;
  background: url("../../assets/images/svg/brokenLine.svg") no-repeat;
}


.firm {
  position: absolute;
  width: 470px;
  height: 500px;
}


.firstFirm {
  margin-top: 30px;
}

.firstFirm, .secondFirm, .thirdFirm {
  position: relative;
  width: 470px;
  height: 135px;
  margin-bottom: 30px;
  background: white;
}

.firstFirm::before, .secondFirm::before, .thirdFirm::before {
  content: attr(data-words);
  display: inline-block;
  position: absolute;
  left: 0;
  top: -20px;
  width: 470px;
  font-size: 1rem;
  background: white;
  font-weight: 800;
  font-style: italic;
}

.view3d {
  position: absolute;
  width: 470px;
  height: 300px;
  top: 590px;
}

.horn {
  position: absolute;
  left: 0;
  top: 0;
  width: 475px;
  height: 400px;
  background: url("../../assets/images/svg/horn.svg") no-repeat;
  background-size: 100% 100%;
}


.viewCube {
  perspective: 800px;
  perspective-origin: 250px 100px;
  zoom: 0.5;
  position: absolute;
  top: 230px;
  left: 140px;
}


.cube::before {
  content: "源码";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  line-height: 315px;
  text-align: center;
  transform: rotateY(90deg) translateX(-90px);
}


.cube {
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: scroll 15s linear infinite;
}

.cube:hover {
  animation-play-state:paused;
}

@keyframes scroll{
  100%{
    transform: rotate3d(0,1,0,360deg);
  }
}


.cube>a {
  width: 200px;
  height:200px;
  border: 1px solid rgba(153, 204, 204, 0.8);
  font-size: 150px;
  text-align: center;
  opacity: 0.7;
  position:absolute;
}

.cube>a:nth-child(1) {
  z-index: 4;
  transform-origin: top;
  transform: rotateX(90deg);
}

.cube>a:nth-child(2) {
  z-index: 5;
  transform-origin: right;
  transform: rotateY(90deg);
}

.cube>a:nth-child(2)::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/skill-icon/react.svg") no-repeat 50px 40px;
  background-size: 50% 50%;
}
.cube>a:nth-child(3) {
  z-index: 3;
  transform-origin: bottom;
  transform: rotateX(-90deg);
}

.cube>a:nth-child(4) {
  z-index: 6;
  transform-origin: left;
  transform: rotateY(-90deg);
}

.cube>a:nth-child(4)::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/skill-icon/vue.svg") no-repeat 50px 40px;
  background-size: 50% 50%;
}

.cube>a:nth-child(5) {
  z-index: 2;
  transform-origin: center;
  transform: translateZ(200PX);
}

.cube>a:nth-child(5)::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/skill-icon/angular.svg") no-repeat 50px 40px;
  background-size: 50% 50%;
}

.cube>a:nth-child(6) {
  z-index: 1;
  transform-origin: center;
  transform: rotateY(180deg);
}

.cube>a:nth-child(6)::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/skill-icon/java.svg") no-repeat 50px 40px;
  background-size: 50% 50%;
}


.viewTetra {
  perspective: 500px;
  perspective-origin: 250px 100px;
  zoom: 0.9;
  position: absolute;
  top: -20px;
  left: 300px;
}

.tetra::before {
  content: "实战";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  line-height: 165px;
  text-align: center;
}


.tetra {
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: scrollTriangular 15s linear infinite;
}

.tetra:hover {
  animation-play-state:paused;
}

@keyframes scrollTriangular{
  100%{
    transform: rotate3d(0,1,0,360deg);
  }
}


.tetra>a {
  width: 200px;
  height: 173px;
  clip-path: polygon(50% 0,100% 100%,0 100%);
  position:absolute;
  transform-origin: center bottom;
  border: 1px solid rgba(153, 204, 204, 0.8);
}


.tetra>a:nth-child(1) {
  transform: rotateY(120deg) translateZ(57px) rotateX(19.2deg);
}

.tetra>a:nth-child(1)::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/skill-icon/angular.svg") no-repeat 50px 85px;
  background-size: 50% 50%;
}


.tetra>a:nth-child(2) {
  transform: rotateY(240deg) translateZ(57px) rotateX(19.2deg);
}

.tetra>a:nth-child(2)::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/skill-icon/react.svg") no-repeat 50px 85px;
  background-size: 50% 50%;
}


.tetra>a:nth-child(3) {
  transform: rotateY(0deg) translateZ(57px) rotateX(19.2deg);
}

.tetra>a:nth-child(3)::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/skill-icon/vue.svg") no-repeat 50px 85px;
  background-size: 50% 50%;
}

.tetra>a:nth-child(4) {
  transform: rotateY(0deg) translateZ(57px) rotateX(90deg);
}
